.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container div {
  display: block;
  width: min(30em, 90vw);
}

.container div h1 {
  margin-bottom: 1em;
}

.methodsContainer legend {
  color: var(--grey);
  margin-bottom: 1em;
}

.methodsContainer div {
  display: flex;
}

.methodsContainer div label {
  margin-left: 1em;
}
