.container {
  display: flex;
  justify-content: center;

  margin-bottom: 2em;
}

.container div + div {
  margin-left: 5em;
}

.container div a {
  color: var(--grey);
}

.container div a.actived {
  color: var(--blue);
  text-decoration: underline;
  font-size: 18px;
  cursor: default;
}
