.container {
  display: flex;
  margin: 0 auto;
  width: 95%;
  margin-top: 2em;
}

.profileContainer {
  width: 30%;
}

.profileContainer div {
  width: 100%;
  border: 0.1px solid rgba(0, 0, 0, 0.125);
  line-height: 1.5;
  font-weight: 200;
  letter-spacing: 1px;
}

.profileContainer div div {
  padding: 1em;
  width: inherit;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.logoutBtn {
  background: var(--red);
  color: #fff;
  font-weight: 600;
  padding: 1em;

  min-width: inherit;
  max-width: 17em;
}

.logoutBtn:hover {
  color: var(--grey);
}

.ordersContainer {
  width: 70%;
  margin-left: 1em;
}

.orders {
  border-top: 1px solid var(--light-grey);
  margin-top: 1em;

  overflow-x: auto;
}

.orders table {
  margin-top: 1em;
  border: 1px solid var(--light-grey);
}

.orders table tr th {
  padding: .5em .5em;
}

.orders table tr td {
  width: 28%;
  border-bottom: 1px solid var(--light-grey);

  padding: 0.5em 1em;
}


.modalContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s;
}

.modalContainer div {
  background: #fff;
  width: min(90%, 34em);
  height: 10em;

  padding: 2em;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.modalContainer div form {
  display: flex;
  justify-content: space-between;

  margin-top: 1em;
}

.modalContainer div form button {
  font-weight: 600;
  padding: 1em;
  width: 10em;
  color: #fff;
}

.modalContainer div form button:hover {
  color: var(--grey);
}

.modalContainer div form button:first-child {
  background: var(--green);
}

.modalContainer div form button:last-child {
  background: var(--red);
}

@media (max-width: 884px) {
  .container {
    display: block;
  }

  .profileContainer,
  .ordersContainer {
    width: 100%;
    margin-left: 0;
  }

  .profileContainer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logoutBtn {
    width: 100%;
  }

  .ordersContainer {
    margin-top: 2em;
  }
}

@media (max-width: 358px) {
  .modalContainer div {
    height: 20em;
  }

  .modalContainer div form {
    display: block;
  }

  .modalContainer div form button {
    margin-bottom: 1em;
  }
}
