.container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
}

.itemsContainer {
  display: block;
}

.infoCard {
  width: 100%;
  height: auto;
}

.infoCard div {
  width: min(20em, 100%);
  border: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  flex-direction: column;

  margin: 0 auto;
}

.infoCard div div {
  width: 100%;

  padding: 1em;
}

.infoCard div > div small {
  margin-top: 1em;
}

.infoCard div div:last-child {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.infoCard div div:last-child button {
  background: var(--blue);
  color: #fff;
  text-transform: uppercase;
  padding: 1em;
  font-weight: 600;
  font-size: 16px;

  border-radius: 0.4em;
}

.infoCard div div:last-child button:hover {
  color: var(--grey);
}

@media (max-width: 780px) {
  .container {
    display: block;
  }

  .itemsContainer {
    width: 90%;
  }

  .infoCard div {
    margin-left: 0;
  }
}

@media (max-width: 615px) {
  .container {
    margin-bottom: 1em;
  }

  .itemsContainer {
    width: 100%;
    margin-bottom: 1em;
  }

  .infoCard {
    display: flex;
    justify-content: center;
  }

  .infoCard div {
    margin: 0 auto;
  }
}
