.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container div {
  display: block;
  width: min(30em, 90vw);
}

.container div h1 {
  margin-bottom: 1em;
}

.methodsContainer legend {
  color: var(--grey);
  margin-bottom: 1em;
}

.methodsContainer div {
  display: flex;
}

.methodsContainer div label {
  margin-left: 1em;
}

.container div form button {
  margin-top: 2em;
  background: var(--blue);
  color: #fff;

  font-size: 16px;
  font-weight: 600;

  padding: 1em;
  border-radius: 0.25rem;
  width: 100%;
}

.container div form button:hover {
  color: var(--grey);
}
