.container {
  width: 100%;

  margin: 0 auto;
  margin-top: 4em;
}

.titleContainer {
  width: 90%;
  margin: 0 auto;
  text-align: left;
}

.titleContainer h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  line-height: 1.2;
}

.booksContainer {
  margin-top: 4em;
  margin-left: 2em;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-gap: 0.8em;
}
