.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container div {
	display: block;

}

.container div h1 {
	color: var(--red);
	font-size: 3.5rem;
}

.linksContainer {
	margin-top: 2em;
}

.linksContainer hr {
	color: var(--light-grey);
	margin: 0.6em 0;
}