@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background: #fff;
}

:root {
  --blue: #0071bc;
  --red: #bd1408;
  --green: #117801;
  --grey: #cfcdcc;
}

body,
input,
html {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: var(--blue);
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3 {
  letter-spacing: 3px;
  font-weight: 600;
  line-height: 1.2;
}

li {
  list-style: none;

  margin-bottom: 0.6em;
}

p {
  line-height: 1.5em;
}

button {
  border: 0;
  cursor: pointer;
}
