.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2em;
}

.navContainer nav {
  display: flex;
}

.navContainer nav a {
  margin-left: 1em;
}

.navContainer nav p {
  margin-left: 1em;
}

@media (max-width: 501px) {
  .container {
    flex-direction: column;
  }

  .navContainer nav a {
    margin-left: 0.5em;
  }
  .navContainer nav p {
    margin-left: 0.5em;
  }
}
