.container main {
  display: flex;
  width: min(40em, 95%);
  margin: 0 auto;
  padding: 2em 4em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container main header {
  width: 100%;
  text-align: center;
}

.container main form {
  width: 100%;
  margin-top: 1em;
  display: block;
}

.container main form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.container main form div input {
  padding: 1em;
  width: 100%;
  border: 1px solid var(--grey);
  border-radius: 0.25rem;
}

.actionContainer button {
  width: 100%;
  background: #115f82;
  color: #fff;

  font-weight: 600;

  text-align: center;

  padding: 0.8em 1.5em;
}

.actionContainer button:hover {
  color: #0c435c;
}

@media (max-width: 444px) {
  .container main {
    width: 100%;
    padding: 1em;
  }
}
